# IDEs
/.idea/
/*.pro.user

# build
/.qtc_clangd
/.cache
/.qmake*
/Makefile
# (legacy)
/temp

# runtime (when built in-tree)
/log.txt
/screenshots/
!/screenshots/_notes.txt
/downloaded/
!/downloaded/_notes.txt

# build artifacts
/QuteScoop
/DIST-*/
