
[Desktop Entry]
# application .desktop file for Linux users:
# Adapt paths as needed.
# Then move it to ~/.local/share/applications [for per-user] or 
# /usr/share/applications [systemwide] recognition of QuteScoop as an application. 
# If your system supports it, you can use 'desktop-file-install QuteScoop.desktop' instead.
# You may need to run 'update-desktop-database' afterwards.
Type=Application
Version=0.9.4
Name=QuteScoop from sources
Comment=QuteScoop
Icon=/home/jonas/Qt/QuteScoop/trunk/DIST-unix64/qutescoop.png
Exec=/home/jonas/Qt/QuteScoop/trunk/DIST-unix64/QuteScoop.sh
Terminal=false
Path=/home/jonas/Qt/QuteScoop/trunk/DIST-unix64
X-Desktop-File-Install-Version=0.20
