[Desktop Entry]
# application .desktop file for Linux users:
# Adapt paths as needed and move it to ~/.local/share/applications [for per-user] or 
# /usr/share/applications [systemwide] recognition of QuteScoop as an application. 
# This allows:
#  * to execute QuteScoop from desktop environment's application menus
#  * to execute QuteScoop by searching for its name in the KDE-, Unity- or Xfce-Launcher
#  * allow an icon to sit on the Unity panel for quick access (don't ask me why 'lock to 
#    panel' won't work without that)
Type=Application
Version=0.9.4
Name=QuteScoop
Comment=QuteScoop
Icon=/home/jonas/Qt/QuteScoop/trunk/DIST-unix/qutescoop.png
Exec=/home/jonas/Qt/QuteScoop/trunk/DIST-unix/QuteScoop.sh
Terminal=false
Path=/home/jonas/Qt/QuteScoop/trunk/DIST-unix
