name: Build Windows

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: windows-2019
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Install Qt
        uses: jurplel/install-qt-action@v2.8.0
        with:
          version: 5.15.1
          arch: win64_mingw81
          modules: qtwebglplugin
      - run: qmake QuteScoop.pro
      - run: make 
      - run: make install
      - name: Upload
        uses: actions/upload-artifact@v1
        with:
          name: QuteScoop-Win-${{ github.sha }}.zip
          path: ./DIST-win32
